:root{
    --accent-f : #ff1493;
    --accent-c : #ff1493CC;
    --accent-9 : #ff149399;
    --accent-6 : #ff149366;
    --accent-3 : #ff149333;
    --danger : #dc3545;
}
html{
    margin: 0;
    font-family: 'Sriracha', cursive;
}
body{
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

button[type="submit"] {
    height: 50px;
    min-width: 150px;
    background-color: var(--accent-c);
    color: white;
    border: none;
}

button[type="submit"]:hover {
    background-color: var(--accent-f);
    color: white;
    -webkit-box-shadow: 1px 1px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 10px -4px rgba(0,0,0,0.75);
}

.interactions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.souvenir{
    display: flex;
    flex-direction: column;
    float: left;
}

input[type="text"], input[type="password"]{
    background-color: rgba(0,0,0,0);
}

.flash{
    padding: 20px;
    display: block;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.flash-success{
    background-color: forestgreen;
    box-shadow: 5px 5px 5px 5px rgba(0,255,0,0.5);
}

.flash-error{
    background-color: red;
    box-shadow: 5px 5px 5px 5px rgba(255,0,0,0.5);
}

.item-list > .item-list-titlebar{
    padding: 10px 0 10px 10px;
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    background-color: var(--accent-f);
    color: white;
}
.item-list > .list-item{
    padding: 10px 0 10px 10px;
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    max-height: 300px;
    overflow-y: auto;
}
.item-list > .list-item:nth-child(2n+1){
    background-color: var(--accent-3);
}
.item-list > .list-item:hover{
    background-color: var(--accent-6);
    transition: .1s;
}
/*
NAV
 */
nav.navbar{
}
/*
BODY CONTENT
 */
.container{
    padding-top: 40px;
}
.padded-body-block{
    padding: 40px 0;
}
/*
FORM
:has()
 */
form .form-group {
    display: block;
}
form .form-group:has(input) {
    display: grid;
}
form .form-group > label {
    width: 30%;
}
form .form-group > *:nth-child(2) {
    width: 69%;
    margin: 0;
    display: inline-block;
}

a.btn {
    display: inline-block;
    padding-top: 10px;
    height: 50px;
    min-width: 150px;
    background-color: var(--accent-c);
    color: white;
    border: none;
}
a.btn.btn-danger{
    background-color: var(--danger);
}
a.btn:hover {
    background-color: var(--accent-f);
    color: white;
    -webkit-box-shadow: 1px 1px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 10px -4px rgba(0,0,0,0.75);
}
a.btn.btn-danger:hover{
    background-color: var(--danger);
}
/*
Sortie
 */
.list-recherche-sortie{
    padding-top: 30px;
}
.list-recherche-sortie > .item-list-titlebar{
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr 2fr 2fr;
}
.list-recherche-sortie > .list-item{
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr 2fr 2fr;
}
.list-participants-sortie{
    padding-top: 30px;
}
.list-participants-sortie > .item-list-titlebar{
    grid-template-columns: 2fr 5fr;
}
.list-participants-sortie > .list-item{
    grid-template-columns: 2fr 5fr;

}
/*
VIEWER
 */
.viewer .field-viewer {
    display: block;
}
.viewer .field-viewer:has(input) {
    display: grid;
}
.viewer .field-viewer > label {
    width: 30%;
    font-weight: 600;
}
.viewer .field-viewer > *:nth-child(2) {
    width: 69%;
    margin: 0;
    display: inline-block;
}