:root{
    --accent-f : #ff1493;
    --accent-c : #ff1493CC;
    --accent-9 : #ff149399;
    --accent-6 : #ff149366;
    --accent-3 : #ff149333;
    --danger : #dc3545;
    --danger-c : #dc3545CC;
}
html{
    margin: 0;
    font-family: 'Sriracha', cursive;
}
body{
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
main{
    padding-top: 100px;
    min-height: calc(100% - 200px);
}
button[type="submit"] {
    height: 50px;
    min-width: 150px;
    background-color: var(--accent-c);
    color: white;
    border: none;
}

button[type="submit"]:hover {
    background-color: var(--accent-f);
    color: white;
    -webkit-box-shadow: 1px 1px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 10px -4px rgba(0,0,0,0.75);
}

.interactions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.souvenir{
    display: flex;
    flex-direction: column;
    float: left;
}

input[type="text"], input[type="password"]{
    background-color: rgba(0,0,0,0);
}

.flash{
    width: 100%;
    position: relative;
    top: 75px;
    padding: 20px;
    display: block;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 4s;
}

.flash-success{
    background-color: forestgreen;
    box-shadow: 0px 6px 10px 0px rgba(0,255,0,0.5);
    animation-name: flash-green;
}

.flash-error{
    background-color: red;
    box-shadow: 0px 6px 10px 0px rgba(255,0,0,0.5);
    animation-name: flash-red;
}
.flash-created, .flash-inscrit, .flash-cancel   {
    background-color: forestgreen;
    box-shadow: 0px 6px 10px 0px rgba(0,255,0,0.5);
    animation-name: flash-green;
}

.flash-erreurCreation{
    background-color: red;
    box-shadow: 0px 6px 10px 0px rgba(255,0,0,0.5);
    animation-name: flash-red;
}
.item-list > .item-list-titlebar{
    padding: 10px 0 10px 10px;
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    background-color: var(--accent-f);
    color: white;
}
.item-list > .item-list-titlebar >*{
    display: inline-block;
    padding-right: 7px;
}
.item-list > .list-item{
    padding: 10px 0 10px 10px;
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    max-height: 300px;
    overflow-y: auto;
}
.item-list > .list-item:nth-child(2n+1){
    background-color: var(--accent-3);
}
.item-list > .list-item:hover{
    background-color: var(--accent-6);
    transition: .1s;
}
h1{
    position: relative;
    left: -10px;
    width: calc(100% + 10px);
    background-color: var(--accent-3);
    padding-left: 10px;
    padding-bottom: 5px;
}
@keyframes flash-green {
    0%{
        box-shadow: 0px 6px 10px 0px rgba(0,255,0,0.5);
        top: 75px;
    }
    70%{
        top: 50px;
        opacity: 1;
        box-shadow: 0px 10px 15px 0px rgba(0,255,0,0.5);
    }
    99%{
        top: 50px;
        visibility: collapse;
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,255,0,0.5);
    }
    100%{
        top: 50px;
        opacity: 0;
        visibility: collapse;
        position: absolute;
        box-shadow: 0px 0px 0px 0px rgba(0,255,0,0.5);
    }
}
@keyframes flash-red {
    0%{
        box-shadow: 0px 6px 10px 0px rgba(255,0,0,0.5);
        top: 75px;
    }
    70%{
        top: 50px;
        opacity: 1;
        box-shadow: 0px 10px 15px 0px rgba(255,0,0,0.5);
    }
    99%{
        top: 50px;
        visibility: collapse;
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(255,0,0,0.5);
    }
    100%{
        top: 50px;
        visibility: collapse;
        opacity: 0;
        position: absolute;
        box-shadow: 0px 0px 0px 0px rgba(255,0,0,0.5);
    }
}
/*
NAV
 */
nav.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
}
/*
FOOTER
 */
footer{
    margin-top: 70px;
    min-height: 100px;
    width: 100%;
    background-color: var(--accent-f);
    border-top: #ff6bb7 40px solid;
}
/*
BODY CONTENT
 */
.container{
    padding-top: 40px;
}
.padded-body-block{
    padding: 40px 0;
}
/*
FORM
 */
form .form-group {
    display: block;
}
form .form-group:has(input) {
    display: grid;
}
form .form-group > label {
    width: 30%;
}
form .form-group > *:nth-child(2) {
    width: 69%;
    margin: 0;
    display: inline-block;
}

a.btn {
    display: inline-block;
    padding-top: 12px;
    height: 50px;
    min-width: 150px;
    background-color: var(--accent-c);
    color: white;
    border: none;
    margin-top:5px;
}
a.btn.btn-danger{
    background-color: var(--danger-c);
}
a.btn:hover {
    background-color: var(--accent-f);
    color: white;
    -webkit-box-shadow: 1px 1px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 10px -4px rgba(0,0,0,0.75);
}
a.btn.btn-danger:hover{
    background-color: var(--danger);
}
@media screen and (max-width: 600px) {
    form .form-group > label {
        width: 100%;
    }
    form .form-group > *:nth-child(2) {
        width: 100%;
        margin: 0;
        display: inline-block;
    }
}
/*
Sortie
 */
.list-recherche-sortie{
    padding-top: 30px;
}
.list-recherche-sortie > .item-list-titlebar{
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr 2fr 2fr;
}
.list-recherche-sortie > .list-item{
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr 2fr 2fr;
}
.list-participants-sortie{
    padding-top: 30px;
}
.list-participants-sortie > .item-list-titlebar{
    grid-template-columns: 2fr 5fr;
}
.list-participants-sortie > .list-item{
    grid-template-columns: 2fr 5fr;
}
/*
VIEWER
 */
.viewer .field-viewer {
    display: block;
}
.viewer .field-viewer:has(input) {
    display: grid;
}
.viewer .field-viewer > label {
    width: 30%;
    font-weight: 600;
}
.viewer .field-viewer > *:nth-child(2) {
    width: 69%;
    margin: 0;
    display: inline-block;
}
@media screen and (max-width: 600px) {
    .viewer .field-viewer > label {
        width: 100%;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 7px;
    }
    .viewer .field-viewer > *:nth-child(2) {
        width: 100%;
        margin: 0;
        display: inline-block;
    }
    .viewer .field-viewer:nth-child(2n) {
        background-color: #F8F9FA;
    }
}
/*
PAGE _ Sortie_by_id
 */
.container.page-sortie_by_id{
    display: grid;
    grid-template-areas:
            "title title"
            "detail list"
            "a a"
    ;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 3fr 2fr;
}
.container.page-sortie_by_id > h1{
    grid-area: title;
}
.container.page-sortie_by_id > .viewer{
    grid-area: detail;
}
.container.page-sortie_by_id > .list-section{
    grid-area: list;
}
@media screen and (max-width: 1100px) {
    .container.page-sortie_by_id{
        display: grid;
        grid-template-areas:
            "title"
            "detail"
            "list"
            "a"
    ;
        grid-template-rows: auto auto auto 1fr;
        grid-template-columns: 100%;
    }
}
/*
PAGE _ recherche_sorties
 */
.list-recherche-sortie > .list-item{
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr 2fr 2fr;
}
.list-participants-sortie{
    padding-top: 30px;
}
.list-participants-sortie > .item-list-titlebar{
    grid-template-columns: 2fr 5fr;
}
.list-participants-sortie > .list-item{
    grid-template-columns: 2fr 5fr;
}
@media screen and (max-width: 600px) {
    .page-recherche-sorties .item-list > .list-item:nth-child(2n){
        background-color: #F8F9FA;
    }
    .page-recherche-sorties .item-list > .list-item:nth-child(2n):hover{
        background-color: var(--accent-6);
    }
    .page-recherche-sorties .list-recherche-sortie > .item-list-titlebar{
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr 2fr 2fr 20%;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        clip-path: polygon(0 0, 63% 0, 100% 65%, 100% 100%, 20% 100%, 0% 100%);
        -webkit-box-shadow: 5px -5px 12px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px -5px 12px -4px rgba(0,0,0,0.75);
        box-shadow: 5px -5px 12px 0px rgba(0,0,0,0.75);
    ;
    }
    .page-recherche-sorties .list-recherche-sortie > .item-list-titlebar > *:nth-child(1) {
        grid-column: 1 / 10;
        grid-row: 1;
        /*margin-right: calc(100% - 200px + 10%);
        width: 100%;
        */
    }
    .page-recherche-sorties .list-recherche-sortie > .item-list-titlebar > *:nth-child(2) {
        grid-column: 2 / 10 ;
        grid-row: 3;
    }
    .page-recherche-sorties .list-recherche-sortie > .item-list-titlebar > *:nth-child(3) {
        grid-column: 3 / 10 ;
        grid-row: 5;
    }
    .page-recherche-sorties .list-recherche-sortie > .item-list-titlebar > *:nth-child(4) {
        grid-column: 4 / 10 ;
        grid-row: 7;
    }
    .page-recherche-sorties .list-recherche-sortie > .item-list-titlebar > *:nth-child(5) {
        grid-column: 5 / 10 ;
        grid-row: 2;
    }
    .page-recherche-sorties .list-recherche-sortie > .item-list-titlebar > *:nth-child(6) {
        grid-column: 6 / 10 ;
        grid-row: 4;
    }
    .page-recherche-sorties .list-recherche-sortie > .item-list-titlebar > *:nth-child(7) {
        grid-column: 7 / 10 ;
        grid-row: 6;
    }
    .page-recherche-sorties .list-recherche-sortie > .item-list-titlebar > *:nth-child(8) {
        grid-column: 8 / 10 ;
        grid-row: 8;
    }
    .page-recherche-sorties .list-recherche-sortie > .list-item{
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr 2fr 2fr 20%;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        clip-path: polygon(0 0, 63% 0, 100% 65%, 95% 100%, 20% 100%, 0% 50%);
    }
    .page-recherche-sorties .list-recherche-sortie > .list-item > *{
        min-height: 20px;
        min-width: 1px;
        display: inline-block;
    }
    .page-recherche-sorties .list-recherche-sortie > .list-item > *:nth-child(1) {
        grid-column: 1 / 10;
        grid-row: 1;
    }
    .page-recherche-sorties .list-recherche-sortie > .list-item > *:nth-child(2) {
        grid-column: 2 / 10 ;
        grid-row: 3;
    }
    .page-recherche-sorties .list-recherche-sortie > .list-item > *:nth-child(3) {
        grid-column: 3 / 10 ;
        grid-row: 5;
    }
    .page-recherche-sorties .list-recherche-sortie > .list-item > *:nth-child(4) {
        grid-column: 4 / 10 ;
        grid-row: 7;
    }
    .page-recherche-sorties .list-recherche-sortie > .list-item > *:nth-child(5) {
        grid-column: 5 / 10 ;
        grid-row: 2;
    }
    .page-recherche-sorties .list-recherche-sortie > .list-item > *:nth-child(6) {
        grid-column: 6 / 10 ;
        grid-row: 4;
    }
    .page-recherche-sorties .list-recherche-sortie > .list-item > *:nth-child(7) {
        grid-column: 7 / 10 ;
        grid-row: 6;
    }
    .page-recherche-sorties .list-recherche-sortie > .list-item > *:nth-child(8) {
        grid-column: 8 / 10 ;
        grid-row: 8;
    }
}
/*
PAGE _ participant_by_id
 */
.container.page-participant_by_id{
    display: grid;
    grid-template-areas:
            "title title"
            "detail pic"
            "a a"
;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 3fr 2fr;
}
.container.page-participant_by_id > h1{
    grid-area: title;
}
.container.page-participant_by_id > .viewer{
    grid-area: detail;
}
.container.page-participant_by_id > .pic-section{
    grid-area: pic;
}
@media screen and (max-width: 1100px) {
    .container.page-participant_by_id{
        display: grid;
        grid-template-areas:
            "title"
            "pic"
            "detail"
            "a"
    ;
        grid-template-rows: auto auto auto 1fr;
        grid-template-columns: 100%;
    }
    .container.page-participant_by_id > .pic-section img{
        max-width: 440px;
        width: 100%;
    }
}
/*
PAGE _ villes_search
 */
.list-recherche-ville{
    padding-top: 30px;
}
.list-recherche-ville > .item-list-titlebar{
    grid-template-columns: 2fr 2fr 1fr;
}
.list-recherche-ville > .list-item{
    grid-template-columns: 2fr 2fr 1fr;
}