{% extends 'document.html.twig' %}

{% block title %}Sortir - Ajouter une ville{% endblock %}

{% block body %}

    <h1 style="text-align: center"> Ajouter une ville</h1>
    <div style="text-align: center" class="container">
        {{ form_start(villeAddForm) }}
        {{ form_widget(villeAddForm) }}
        {{ form_end(villeAddForm) }}
    </div>
{% endblock %}
