{% extends 'document.html.twig' %}

{% block title %}Sortir - Ajouter une ville{% endblock %}

{% block body %}

    <div class="container">
        <h1> Ajouter une ville</h1>
        <div class="padded-body-block">
            {{ form_start(villeAddForm) }}
            {{ form_widget(villeAddForm) }}
            {{ form_end(villeAddForm) }}
        </div>
    </div>
{% endblock %}
