{% extends 'document.html.twig' %}

{% block title %}Sortir - Ajouter un utilisateur{% endblock %}

{% block body %}

    <div class="container">
        <h1>Ajouter un utilisateur</h1>
        <div class="padded-body-block">
            {{ form_start(adminAddUser) }}
            {{ form_widget(adminAddUser) }}
            {{ form_end(adminAddUser) }}
        </div>
    </div>
{% endblock %}
