{% extends 'document.html.twig' %}

{% block title %}Sortir - Panneau admin{% endblock %}

{% block body %}
    <div class="container" style="text-align: center">
        <a class="btn btn-primary" href="{{ path('adminAddUser') }}" role="button">Ajouter un utilisateur manuellement</a>
        <br>
        {{ form_start(csvForm) }}
        {{ form_widget(csvForm) }}
        {{ form_end(csvForm) }}
    </div>
{% endblock %}
